/* Base styles */
body,
html {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #eaeaea;
}

.login-main {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-repeat: no-repeat;
    max-height: 100vh;
    background-image: url('../../../dist/assets/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.right-section {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.right-section::before {
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.left-section {
    flex: 1;
    height: 100%;
    display: flex;
    /* gap: 800px; */
    padding-left: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: start;
    align-items: flex-start;
}

.logo img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    object-fit: contain;
}

.left-text aside {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #eaeaea;
}

.left-text-description {
    /* padding-bottom: 50px; */
    margin-bottom: 80px;
    font-size: 15px;
}

.left-text {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #bfbfbf;
}

.form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form {
    width: 100%;
    max-width: 300px;
    /* Set max-width to 300px for both inputs and button */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align all form elements */
}

.login-form label {
    width: 100%;
    /* Ensure labels also follow the same width */
    margin-bottom: 15px;
    color: #eaeaea;
    font-size: 1rem;
}

.login-form input {
    width: 100%;
    /* Set inputs to 100% of the parent's width */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #eaeaea;
}

.login-form input:focus {
    outline: none;
    border-color: #666;
}

.login-form button {
    width: 100%;
    /* Set button to 100% of the parent's width */
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}

.right-section-logo {
    display: none;
}

/* Tablet view */
@media (max-width: 1024px) {
    main {
        max-height: 1024px;
        justify-content: center;
    }

    .left-section {
        display: none;
    }

    .right-section {
        width: 60%;
        gap: 20px;
        flex-direction: column;
    }

    .form-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .logo img {
        width: 100px;
    }

    .left-text aside {
        font-size: 1.5rem;
    }

    .left-text {
        font-size: 1.2rem;
    }

    .login-form {
        max-width: 90%;
        margin: 0 auto;
    }

    .login-form input,
    .login-form button {
        font-size: 1.2rem;
    }

    .right-section-logo {
        display: flex;
        width: 40%;
    }
}

/* Mobile view */
@media (max-width: 640px) {
    main {
        max-height: 1024px;
        justify-content: center;
    }

    .left-section {
        display: none;
    }

    .right-section {
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }

    .form-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .logo img {
        width: 100px;
    }

    .left-text aside {
        font-size: 1.5rem;
    }

    .left-text {
        font-size: 1.2rem;
    }

    .login-form {
        max-width: 90%;
        margin: 0 auto;
    }

    .login-form input,
    .login-form button {
        font-size: 1.2rem;
    }

    .right-section-logo {
        display: flex;
        width: 40%;
    }
}